
.order-book {
  height: 100vw;
  width: 100%;
  padding: 5px;
}

.order-book-scroll {
  height: 100vw;
  width: 100%;
  position: relative;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.bid-book {
  width: 40%;
  width: -webkit-calc(50% - 15px);
  top: 0;
}

.ask-book {
  width: 40%;
  width: -webkit-calc(50% - 15px);
  top: 50vw;
  margin-left: 50%;
}

.order-row {
  position:relative;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  border-top: solid 1px gray;
}


.positive {
  color: green;
}

.negative {
  color: red;
}

.title-row {
  font-size: 12px;
  border-top: solid 1px gray;
}

.order-row * {
  font-size: 10px;
}

.overlap {
  background-color: rgba(0, 255, 0, 0.3);
}

.active-order {

  border-right: solid 25px gold;
  border-left: solid 25px gold;
}

.new-order {
  background-color: orange;
}

.amount-change {
  background-color: pink;
}

.poloniex .exchange-name {
  color: turquoise;
  font-weight: 700;
  text-transform: uppercase;
}

.bittrex .exchange-name {
  color: maroon;
  font-weight: 700;
  text-transform: uppercase;
}

.ask-row {
  margin-right: 10px;
}

.bid-row {
  margin-left: 10px;
}

.ask-row.poloniex {
  box-sizing: border-box;
  border-left: solid 10px turquoise;
}

.ask-row.bittrex {
  box-sizing: border-box;
  border-left: solid 10px maroon;
}

.bid-row.poloniex {
  box-sizing: border-box;
  border-right: solid 10px turquoise;
}

.bid-row.bittrex {
  box-sizing: border-box;
  border-right: solid 10px maroon;
}
