.order-action-column {
  display: flex;
  flex-direction: column;
  float: right;
}

.order-action-tile {
  float: right;
  flex-direction: column;
  display: inline-flex;
  height: 150px;
  width: 150px;
  border: solid 3px gray;
  margin: 5px;
}